In [50]:
import csv
import pandas as pd
import numpy as np

# Dependencies and Setup
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn import preprocessing

In [98]:
file= "../Katie_working/data_clean_351.csv"

df = pd.read_csv(file)

df.head()

,gender,hs_gpa,year_of_study,field,current_gpa,off_campus,monthly_allowance,scholarship,study_hours,partying_frequency,drinks_consumed,classes_missed,modules_failed,relationship,parents_approval,parent_relationship
0,Female,76.0,2,Arts & Social Sciences,72.0,Yes,R 4001- R 5000,No,8+,Only weekends,8+,3,0,Yes,Yes,Very close
1,Male,89.0,2,Economic & Management Sciences,75.0,Yes,R 7001 - R 8000,Yes,8+,Only weekends,3-5,4+,0,No,Yes,Very close
2,Male,76.0,1,AgriSciences,55.0,Yes,R 4001- R 5000,No,3-5,2,8+,3,0,No,Yes,Very close
3,Male,89.0,2,Engineering,84.0,Yes,R 6001 - R 7000,No,3-5,3,8+,2,0,Yes,Yes,Very close
4,Female,74.0,2,Arts & Social Sciences,52.0,Yes,R 4001- R 5000,No,3-5,Only weekends,5-8,1,3,No,Yes,Fair

In [99]:
df.field.value_counts()

field
Economic & Management Sciences    192
Science                            46
Arts & Social Sciences             39
Engineering                        31
AgriSciences                       18
Law                                 8
Medicine and Health Services        8
Education                           5
Other                               4
Name: count, dtype: int64

In [100]:
df.monthly_allowance.value_counts()

monthly_allowance
R 4001- R 5000     147
R 5001 - R 6000     99
R 6001 - R 7000     51
R 7001 - R 8000     28
R 8000+             26
Name: count, dtype: int64

In [101]:
df.study_hours.value_counts()

study_hours
8+     101
3-5     87
1-3     72
5-8     72
0       19
Name: count, dtype: int64

In [102]:
df.partying_frequency.value_counts()

partying_frequency
1                95
Only weekends    93
2                80
3                54
4+               16
0                13
Name: count, dtype: int64

In [103]:
df.drinks_consumed.value_counts()

drinks_consumed
5-8    96
3-5    80
8+     79
1-3    78
0      18
Name: count, dtype: int64

In [104]:
df.classes_missed.value_counts()

classes_missed
0     177
1      71
2      55
4+     25
3      23
Name: count, dtype: int64

In [105]:
df.modules_failed.value_counts()

modules_failed
0     224
1      53
2      28
3      23
4+     23
Name: count, dtype: int64

In [106]:
#filter out 0 vals
mask1=df.current_gpa!=0
mask2=df.year_of_study!=0
df2=df.loc[mask1].loc[mask2]

In [107]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 298 entries, 0 to 350
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   gender               298 non-null    object
 1   hs_gpa               298 non-null    float64
 2   year_of_study        298 non-null    int64
 3   field                298 non-null    object
 4   current_gpa          298 non-null    float64
 5   off_campus           298 non-null    object
 6   monthly_allowance    298 non-null    object
 7   scholarship          298 non-null    object
 8   study_hours          298 non-null    object
 9   partying_frequency   298 non-null    object
 10  drinks_consumed      298 non-null    object
 11  classes_missed       298 non-null    object
 12  modules_failed       298 non-null    object
 13  relationship         298 non-null    object
 14  parents_approval     298 non-null    object
 15  parent_relationship  298 non-null    object
dtypes: float64(2), int64(1), object(13)
memory usage: 39.6+ KB

In [108]:
df3=df2.copy()

In [109]:
cols={'0': 0,
     '1-3': 1,
     '3-5': 2,
     '5-8': 3,
     '8+': 4}

missed={'0': 0,
     '1': 1,
     '2': 2,
     '3': 3,
     '4+': 4}

new2={'0': 0,'Only weekends': -1, '1': 1, '2': 2,'3': 3,'4+': 4}

df3['drinks_consumed']=df2.drinks_consumed.replace(cols)
df3['study_hours']=df2.study_hours.replace(cols)
df3['partying_frequency']=df2.partying_frequency.replace(new2)
df3['modules_failed']=df2.modules_failed.replace(missed)
df3['classes_missed']=df2.classes_missed.replace(missed)

/var/folders/jf/2172hndd7zv4fznws878lj3h0000gn/T/ipykernel_77174/4060749988.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['drinks_consumed']=df2.drinks_consumed.replace(cols)
/var/folders/jf/2172hndd7zv4fznws878lj3h0000gn/T/ipykernel_77174/4060749988.py:16: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['study_hours']=df2.study_hours.replace(cols)
/var/folders/jf/2172hndd7zv4fznws878lj3h0000gn/T/ipykernel_77174/4060749988.py:17: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['partying_frequency']=df2.partying_frequency.replace(new2)
/var/folders/jf/2172hndd7zv4fznws878lj3h0000gn/T/ipykernel_77174/4060749988.py:18: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['modules_failed']=df2.modules_failed.replace(missed)
/var/folders/jf/2172hndd7zv4fznws878lj3h0000gn/T/ipykernel_77174/4060749988.py:19: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df3['classes_missed']=df2.classes_missed.replace(missed)

In [110]:
df3.head()

,gender,hs_gpa,year_of_study,field,current_gpa,off_campus,monthly_allowance,scholarship,study_hours,partying_frequency,drinks_consumed,classes_missed,modules_failed,relationship,parents_approval,parent_relationship
0,Female,76.0,2,Arts & Social Sciences,72.0,Yes,R 4001- R 5000,No,4,-1,4,3,0,Yes,Yes,Very close
1,Male,89.0,2,Economic & Management Sciences,75.0,Yes,R 7001 - R 8000,Yes,4,-1,2,4,0,No,Yes,Very close
2,Male,76.0,1,AgriSciences,55.0,Yes,R 4001- R 5000,No,2,2,4,3,0,No,Yes,Very close
3,Male,89.0,2,Engineering,84.0,Yes,R 6001 - R 7000,No,2,3,4,2,0,Yes,Yes,Very close
4,Female,74.0,2,Arts & Social Sciences,52.0,Yes,R 4001- R 5000,No,2,-1,3,1,3,No,Yes,Fair

In [111]:
# Push the remade DataFrame to a new CSV file
df3.to_csv("../testing_data.csv", index=False)

In [67]:
df3.columns

Index(['gender', 'hs_gpa', 'year_of_study', 'field', 'current_gpa',
       'off_campus', 'monthly_allowance', 'scholarship', 'study_hours',
       'partying_frequency', 'drinks_consumed', 'classes_missed',
       'modules_failed', 'relationship', 'parents_approval',
       'parent_relationship'],
      dtype='object')

In [68]:
le=preprocessing.LabelEncoder()

In [69]:
sex= le.fit_transform(df2.gender)
field= le.fit_transform(df2.field)
campus= le.fit_transform(df2.off_campus)
money= le.fit_transform(df2.monthly_allowance)
aid = le.fit_transform(df2.scholarship)
mods = le.fit_transform(df2.modules_failed)
relationship = le.fit_transform(df2.relationship)
parent_approval= le.fit_transform(df2.parents_approval)
parent_relationship= le.fit_transform(df2.parent_relationship)

hsgpa=df3.hs_gpa
year=df3.year_of_study
cgpa=df3.current_gpa
study=df3.study_hours
freq=df3.partying_frequency
drinks=df3.drinks_consumed
classes=df3.classes_missed

In [70]:
Numerical= {'gender': sex,
         'hs_gpa': hsgpa,
         'year': year,
         'field': field,
         'gpa': cgpa,
         'campus': campus,
       'money': money,
       'aid': aid,
       'study': study,
       'freq': freq,
       'drinks': drinks,
       'classes': classes,
       "mods": mods,
      "relation": relationship,
      'approval': parent_approval,
      'family': parent_relationship}

num_df=pd.DataFrame(numerical)
num_df.head()

,gender,hs_gpa,year,field,gpa,campus,money,aid,study,freq,drinks,classes,mods,relation,approval,family
0,0,76.0,2,1,72.0,1,0,0,4,-1,4,3,0,1,1,3
1,1,89.0,2,2,75.0,1,3,1,4,-1,2,4,0,0,1,3
2,1,76.0,1,0,55.0,1,0,0,2,2,4,3,0,0,1,3
3,1,89.0,2,4,84.0,1,2,0,2,3,4,2,0,1,1,3
4,0,74.0,2,1,52.0,1,0,0,2,-1,3,1,3,0,1,2

In [71]:
# Push the remade DataFrame to a new CSV file
num_df.to_csv("../numeric_only.csv", index=False)